<section id="cover">
    <div id="cover-caption">
      <div class="container">
        <div class="row text-white">
          <div class="col-xl-10 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form">
            <h1 class="display-4 py-2 text-truncate">Detalle Concurso</h1>
            <div class="px-4">
              <table class="table table-bordered">
                <tr>
                  <th>
                    <strong>Materia</strong>
                  </th>
                  <th>
                    <strong>Puesto</strong>
                  </th>
                  <th>
                    <strong>Fecha de inicio</strong>
                  </th>
                  <th>
                    <strong>Fecha fin</strong>
                  </th>
                </tr>
                <tr>
                  <td>
                    <strong>{{ this.Competition.materia }}</strong>
                  </td>
                  <td>
                    <strong>{{ this.Competition.puesto }}</strong>
                  </td>
                  <td>
                    <strong>{{ this.Competition.fechaInicio  | date:'dd/MM/yyyy  HH:mm'}}</strong>
                  </td>
                  <td>
                    <strong>{{ this.Competition.fechaFin  | date:'dd/MM/yyyy  HH:mm'}}</strong>
                  </td>
                </tr>
                <tr>
                  <th colspan="4">
                    Descripcion
                  </th>
                </tr>
                <tr>
                  <td colspan="4">
                    <strong>{{ this.Competition.description }}</strong>
                  </td>
                </tr>
              </table>
              <form class="justify-content-center">
                <div class="float-right mb-3">
                  <button (click)="back()" class="btn btn-primary mr-3">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
