<section id="cover">
    <div id="cover-caption">
      <div class="container">
        <div class="row text-white">
          <div class="col-xl-10 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form">
            <h1 class="display-4 py-2 text-truncate">Detalle Concurso</h1>
            <div class="px-4">
              <form class="justify-content-center">

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <dl class="tab-content">
                        <td> <strong>Materia</strong> </td>
                        <dd> <strong>{{ this.Competition.subname }}</strong> </dd>

                        <td> <strong> Puesto </strong> </td>
                        <dd> <strong>{{ this.Competition.posname }}</strong> </dd>

                        <td> <strong> Fecha de inicio </strong>  </td>
                        <dd> <strong>{{ this.Competition.creationDate  | date:'dd/MM/yyyy  HH:mm'}}</strong> </dd>

                        <td> <strong> Fecha fin </strong>  </td>
                        <dd> <strong>{{ this.Competition.finalDate  | date:'dd/MM/yyyy  HH:mm'}}</strong> </dd>

                        <td> <strong> Descripcion </strong>  </td>
                        <dd> <strong>{{ this.Competition.subdescription }}</strong> </dd>
                    </dl>
                  </div>
                </div>
                <div class="float-right mb-3">
                  <button (click)="back()" class="btn btn-primary mr-3">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
