<div class="container">
    <div class="abs-center">
      <form id="formulario" [formGroup]="accountForm"  class="form border p-3 form" (ngSubmit)="OnSubmit()">
        <h2 class="text-center">Modificar Contraseña</h2>
        <div class="form-group">
          <label for="userPass">Contraseña actual</label>
          <input type="password"  name="userPass" id="userPass" class="form-control email-login" formControlName="userPass"
          [class]="isValidField('userPass')">
          <div class="invalid-feedback">
            <span *ngIf="accountForm.get('userPass').errors?.required">
                Ingresa contraseña actual
            </span>
          </div>
        </div>
        <div class="form-group">
            <label for="newUserPass">Contraseña Nueva</label>
            <input type="password"  name="newUserPass" id="newUserPass" class="form-control email-login" formControlName="newUserPass"
            [class]="isValidField('newUserPass')">
            <div class="invalid-feedback">
              <span *ngIf="accountForm.get('newUserPass').errors?.required">
                  Ingresa contraseña nueva
              </span>
            </div>
          </div>
        <div class="form-group">
          <label for="confirmPass">Confirmar Contraseña</label>
          <input type="password" name="confirmPass" id="confirmPass" class="form-control password-login"
          formControlName="confirmPass" [class]="isValidField('confirmPass')">
          <div class="invalid-feedback">
            <span *ngIf="accountForm.get('confirmPass').errors?.required">
                Confirma contraseña nueva
            </span>
          </div>
        </div>
        <div class="row">
            <div class="mx-auto errmessage"  style="color: #dc3545;"></div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="button"  [routerLink]="['/Course']" class="btn btn-secondary btn-block">Cancelar</button>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            </div>
        </div>
      </form>
    </div>
  </div>

