<p-table #dt [value]="jcmlist" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
    [paginator]="true" currentPageReportTemplate="Mostrando {first} de {last}. De un total de {totalRecords} Registros"
    [filterDelay]="0" [globalFilterFields]="['idUser','idCompetition','applicantDate','state']">

    <ng-template pTemplate="caption">
        <div class="table-header">
          <div class="row">
            <div class="col-md-12 col-md-offset-2">

                <div class="card-body d-flex justify-content-between align-items-center">
                  <h1>Lista de jefes de cátedra</h1>
                  <a [routerLink]="['/jefedecatedra_materia/ActionJefeCatedra']" class="btn btn-primary btn-sm">Nuevo jefe de cátedra</a>
                </div>
            </div>
          </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="Id">
            <div class="p-d-flex p-jc-between p-ai-center">
                Código
                <p-sortIcon field="Id"></p-sortIcon>
            </div>
          </th>
            <th pSortableColumn="nombre">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Nombre
                    <p-sortIcon field="nombre"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Materia
                    <p-sortIcon field="name"></p-sortIcon>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    Acción
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-jcm>
        <tr class="p-selectable-row">
            <td>
                {{jcm.Id}}
            </td>
            <td>
                {{jcm.nombre}}
            </td>
            <td>
                {{jcm.name}}
            </td>
            <td>
                <button pButton pRipple icon="pi pi-pencil" aria-label="Editar" class="p-button-rounded p-button-success p-mr-2"  [routerLink]="['/jefedecatedra_materia/ActionJefeCatedra/'+ jcm.Id]"></button>
                <button pButton pRipple icon="pi pi-trash" aria-label="Eliminar" class="p-button-rounded p-button-warning" (click)="Delete(jcm.Id)"></button>
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No hay usuario.</td>
        </tr>
    </ng-template>
</p-table>
