form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
  border-radius: 10px;
}
label {
  float: left;
}
textarea {
  resize: none;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 450px;
}
.text-white{
    color: initial!important;  
}

html, body {
    height: 100%;
    background: #ffffff;
    font: normal 13px/20px 'Lato', 'sans-serif';
    color: #000;
}
.cotainer-top {
    background: #ffffff;
    position: relative;
    z-index: 111;
}