<!--Navbar -->
<nav class="navbar sticky-top  mb-3 navbar navbar-expand-xl navbar-dark bg-dark" style="height: 7vh;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Account">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill"
            viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
              d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
          </svg>
          Login
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

<div>
  <h1 class="text-center">Sistema de Coordinación de concursos de cátedras</h1>
  <div class="col-lg-8" style="float:none;margin:auto;">
    <p-card class="text-center">
      <img src="assets/img/UTN_logo.jpg" alt="Logo UTN" style="float:right;width:100px;height:100px;">
       <b style="font-size: 25px;">El objetivo del siguiente sistema es proporcionar un método fácil y accesible de
      administrar el proceso de concursos para cátedra para la
      Universidad Tecnológica Nacional de Rosario. <br>
         Tanto para administradores como para concursantes.
       <br><br>El primer paso es <a [routerLink]="['/Register']" class="pull-right">crear un usuario</a>  si no lo posee.</b></p-card>

  </div>
  <br>
  <h2 class="text-center">Concursos disponibles</h2>
</div>
<br>
<div class="row  m-0  row-cols-1 row-cols-md-4">
<!--  <button (click)="showMyData()">show</button>-->

  <div class="col mb-4" *ngFor="let comp of complist">
    <div class="card h-100">
      <img src="{{comp.img}}" class="card-img-top" alt="Quimica">
      <div class="card-body h-50">
        <h5 class="card-title"><strong>Materia: {{comp.materia}}</strong></h5>
        <h5 class="card-title"><strong>Posicion: {{comp.puesto}}</strong></h5>
        <h5 class="card-title"><strong>Fecha de Cierre: {{comp.finalDate | date: 'dd/MM/yyyy'}}</strong></h5>
        <div class="card-text  overflow-auto" style="height: 19vh;">
          {{comp.description}}
        </div>
      </div>
      <div class="card-footer">
        <button type="button" [attr.disabled]="comp.isActive !== true? true : null" (click)="inscribe(comp.id)" class="btn btn-primary col">{{comp.isActive === true ? 'Postularse' : 'Finalizado'}}</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

