<!--Navbar -->
<nav class="navbar sticky-top  mb-3 navbar navbar-expand-xl navbar-dark bg-dark" style="height: 7vh;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Account">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill"
            viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
              d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
          </svg>
          Login
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<div class="row  m-0  row-cols-1 row-cols-md-4">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/quimica.jpg" class="card-img-top" alt="Quimica">
      <div class="card-body">
        <h4 class="card-title">Materia: Quimica</h4>
        <h5 class="card-subtitle"><strong>Fecha de Cierre: 12/09/2020</strong></h5>
        <h5><strong>Requisitos:</strong></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary col">Aplicar</button>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/so.jpg" class="card-img-top" alt="Sistema operativo">
      <div class="card-body">
        <h4 class="card-title">Materia: SO</h4>
        <h5 class="card-subtitle"><strong>Fecha de Cierre: 12/09/2021</strong></h5>
        <h5><strong>Requisitos:</strong></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary col">Aplicar</button>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/tc.jpg" class="card-img-top" alt="Teorica de control">
      <div class="card-body">
        <h4 class="card-title">Materia:Teoria de control</h4>
        <h5 class="card-subtitle"><strong>Fecha de Cierre: 12/06/2021</strong></h5>
        <h5><strong>Requisitos:</strong></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary col">Aplicar</button>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/php.jpg" class="card-img-top" alt="Entorno grafica">
      <div class="card-body">
        <h4 class="card-title">Materia: Entorno grafica</h4>
        <h5 class="card-subtitle"><strong>Fecha de Cierre: 12/06/2021</strong></h5>
        <h5><strong>Requisitos:</strong></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary col">Aplicar</button>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/ed.jpg" class="card-img-top" alt="Estructura de datos">
      <div class="card-body">
        <h4 class="card-title">Materia:Estructura de datos</h4>
        <h5 class="card-subtitle"><strong>Fecha de Cierre: 12/06/2021</strong></h5>
        <h5><strong>Requisitos:</strong></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary col">Aplicar</button>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="../assets/img/Economia.jpg" class="card-img-top" alt="Economia">
      <div class="card-body">
        <h4 class="card-title">Materia:Economia</h4>
        <h5 class="card-subtitle"><strong>Fecha de Cierre: 12/06/2021</strong></h5>
        <h5><strong>Requisitos:</strong></h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary col">Aplicar</button>
      </div>
    </div>
  </div>
</div>

