<div class="row">
  <div class="col-12">
    <h1 class="text-center">Postularse</h1> <br>
  </div>
</div>
<div class="row  m-0  row-cols-1 row-cols-md-4">
      <div class="col mb-4" *ngFor="let comp of complist">
        <div class="card h-100">
          <img src="{{comp.img}}" class="card-img-top" alt="Quimica">
          <div class="card-body h-50">
            <h5 class="card-title"><strong>Materia: {{comp.materia}}</strong></h5>
            <h5 class="card-title"><strong>Posicion: {{comp.puesto}}</strong></h5>
            <h5 class="card-title"><strong>Fecha de Cierre: {{comp.finalDate | date: 'shortDate'}}</strong></h5>
            <div class="card-text  overflow-auto" style="height: 19vh;">
              {{comp.description}}
            </div>
          </div>
          <div class="card-footer">
            <button type="button" title="Ver detalle" class="btn btn-primary col" [routerLink]="['/Detalle/'+ comp.id]">Ver Detalle</button>
            <br><br>
            <button type="button" [attr.disabled]="comp.isPostulate || comp.state == '3' ? true : null" (click)="inscribe(comp.id)" class="btn btn-primary col">{{comp.state != '3'? (comp.isPostulate !== true ? 'Postularse' : 'Ya estás postulado') : 'Finalizado'}}</button>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title  w-100 text-center" id="exampleModalLabel">¿Inscribirse?</h5>
      </div>
      <div class="modal-body">
        <h5 class="card-title text-center"><strong>¿Está seguro de que desea inscribirse a este concurso?</strong></h5>
        <h5 class="card-title text-center idUser"></h5>
        <h5 class="card-title text-center idCompetition"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="Close()" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="Subscribe()">Guardar</button>
      </div>
    </div>
  </div>
</div>
