<div class="about-section">
  <h1>Sobre Nosotros</h1>
  <p>Somos un equipo de estudiantes de la UTN con gran pasión por el desarrollo de sistemas de calidad.
    Esperamos que el sistema sea de su agrado.</p>
</div>

<h2 style="text-align:center">Nuestro Equipo</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../assets/img/Persona.jpg" alt="Pradel" style="width:50%">
      <div class="container">
        <h2>Eugene Pradel</h2>
        <p class="title">Desarrollador</p>
        <p>Legajo: 39932</p>
        <p>prade5_16@hotmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/img/Persona.jpg" alt="Pablo" style="width:50%">
      <div class="container">
        <h2>Pablo Pomar</h2>
        <p class="title">Desarrollador</p>
        <p>Legajo: 43655</p>
        <p>pablopomar94@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/img/Persona.jpg" alt="Alexis" style="width:50%">
      <div class="container">
        <h2>González Alexis</h2>
        <p class="title">Desarrollador</p>
        <p>Legajo: 37668</p>
        <p>galexis.isi78@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/img/Persona.jpg" alt="Julián" style="width:50%">
      <div class="container">
        <h2>Julián Villoría</h2>
        <p class="title">Desarrollador</p>
        <p>Legajo: 46180</p>
        <p>juliiianvilloria99@gmail.com</p>
      </div>
    </div>
  </div>
</div>
