<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-10 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form">
                    <h1 class="display-4 py-2 text-truncate">{{Option}}</h1>
                    <div class="px-4">
                        <form class="justify-content-center" [formGroup]="form " (ngSubmit)="Create()">
                            <div class="form-row">
                              <div class="form-group col-md-12">
                                <label for="inputfirstName">Nombre</label>
                                <input type="text" class="form-control" id="inputfirstName" name="name"
                                formControlName="name" placeholder="Nombre" [class]="isValidField('name')">
                                <div class="invalid-feedback">
                                  <span *ngIf="form.get('name').errors?.required">
                                      Debe ingresar un nombre
                                  </span>
                              </div>
                              </div>
                            </div>
                            <div class="form-row">
                                 <div class="form-group col-md-6">
                                    <img src={{photostring}} alt="" width="250" height="250">
                                 </div>
                                 <div  class="form-group col-md-6">
                                   <!-- Button trigger modal -->
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    Seleccionar una imagen
                                  </button>
                                  <!-- Modal -->
                                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Seleccionar la foto de la materia </h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="row  m-0  row-cols-1 row-cols-md-3   overflow-auto"  style="height: 70vh;">
                                            <div class="col mb-4" *ngFor="let photo of photolist" (click)="SelectPhoto(photo)" style="cursor:pointer">
                                              <div class="card h-100">
                                                <img src={{photo.url}} class="card-img-top" alt={{photo.name}} width="200" height="200">
                                                <div class="card-body h-50">
                                                  <h5 class="card-title"><strong>Materia: {{photo.name}}</strong></h5>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                          <div class="modal-footer">
                                          <input type="file" class="form-control" id="inputfile" name="img" [class]="isValidField('img')" hidden (change)="onFileChanged($event)">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            <label for="inputfile" class="btn btn-primary" >Examinar foto</label>
                                            <div class="invalid-feedback">
                                                <span *ngIf="form.get('img').errors?.required">
                                                    Debe seleccionar una imagen para esa materia
                                                </span>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                 </div>
                            </div>

                            <div class="form-row">
                              <div class="form-group col-md-12">
                                <label for="inputtextarea">Descripcion</label>
                                <textarea class="form-control" rows="4"  id="inputtextarea" name="description"
                                formControlName="description" placeholder="Descripcion"></textarea>
                              </div>
                            </div>
                            <div class="float-right mb-3">
                              <button [routerLink]="['/Subject']" class="btn btn-primary mr-3">Cancelar</button>
                              <button type="submit" class="btn btn-primary">{{OptionBtn === false ? "Guardar" : "Actualizar"}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>


