<div class="content">
    <div id="menu-sitemap" class="menu-sitemap container col-sm-12 col-xl-10">
        <h1 class="menu-sitemap-title" style="color:#000000;">Mapa del sitio de Sistema de concurso</h1>
        <hr class="w-100 clearfix d-md-none">
        <div class="row menu-sitemap-container">

            <div class="col-sm-12 col-md-6 col-xl-4 menu-container">
                <div class="menu-levels menu-level-1 has-child">
                    <h3 style="color:#4a4a4a;">Menu usuario</h3>
                    <div class="menu-level-2-container">
                        <div class="menu-levels menu-level-2" *ngFor="let perfil of MenuList">
                            <a routerLink={{perfil.url}} style="color:#111110;font-size: 1rem;">
                                {{perfil.displayName}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-4 menu-container">

                <div class="menu-levels menu-level-1 has-child">
                    <h3 style="color:#4a4a4a;">ENLACES UTN</h3>
                    <div class="menu-level-2-container">

                        <div class="menu-levels menu-level-2">
                            <a href="http://www.dasuten.utn.edu.ar" target="blank"
                                style="color:#111110;font-size: 1rem;">DASUTeN</a>
                        </div>

                        <div class="menu-levels menu-level-2">
                            <a href="http://www.edutecne.utn.edu.ar/inicio.html" target="blank"
                                style="color:#111110;font-size: 1rem;">eDUTecNe</a>
                        </div>

                        <div class="menu-levels menu-level-2">
                            <a href="http://www.aputn.org.ar/" target="blank"
                                style="color:#111110;font-size: 1rem;">APUTN</a>
                        </div>

                        <div class="menu-levels menu-level-2">
                            <a target="blank" href="https://www.adut.org/"
                                style="color:#111110;font-size: 1rem;" rel="noopener">ADUT</a>
                        </div>

                        <div class="menu-levels menu-level-2">
                            <a target="blank"
                                href="https://www.utn.edu.ar/es/federacion-universitaria-tecnologica/fut-inicio"
                                style="color:#111110;font-size: 1rem;">FAGDUT</a>
                        </div>

                        <div class="menu-levels menu-level-2"><a target="blank"
                                href="/es/stay-relevant/partnerships" style="color:#111110;font-size: 1rem;">FUT</a>
                        </div>

                        <div class="menu-levels menu-level-2"><a target="blank"
                                href="https://www.sidut.org.ar/" style="color:#111110;font-size: 1rem;">SIDUT</a>
                        </div>

                        <div class="menu-levels menu-level-2 has-child"><a class="hide-submenu" target="blank"
                                href="https://www.utn.edu.ar/es/csi" style="color:#111110;font-size: 1rem;">CSI</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-4 menu-container">


                <div class="menu-levels menu-level-1 has-child">
                    <h3 style="color:#4a4a4a;">Acerca de</h3>
                    <div class="menu-level-2-container">

                        <div class="menu-levels menu-level-2"><a href="/es/about#our-history"
                                style="color:#111110;font-size: 1rem;">¿Quienes somos?</a></div>

                        <div class="menu-levels menu-level-2"><a href="/es/about#management-team"
                                style="color:#111110;font-size: 1rem;">Equipo Desarrollo</a></div>
                    </div>
                </div>


                <div class="menu-levels menu-level-1 has-child">
                    <h3 style="color:#4a4a4a;">Carreras</h3>
                    <div class="menu-level-2-container">

                        <div class="menu-levels menu-level-2"><a
                          href="https://www.frro.utn.edu.ar/contenido.php?cont=161&subc=22"
                          style="color:#111110;font-size: 1rem;">Ingeniería Civil</a></div>

                        <div class="menu-levels menu-level-2"><a
                          href="https://www.frro.utn.edu.ar/contenido.php?cont=162&subc=23"
                          style="color:#111110;font-size: 1rem;">Ingeniería Eléctrica</a></div>

                        <div class="menu-levels menu-level-2"><a
                          href="https://www.frro.utn.edu.ar/contenido.php?cont=172&subc=24"
                          style="color:#111110;font-size: 1rem;">Ingeniería Mecánica</a></div>

                        <div class="menu-levels menu-level-2"><a
                          href="https://www.frro.utn.edu.ar/contenido.php?cont=204&subc=25"
                          style="color:#111110;font-size: 1rem;" rel="noopener">Ingeniería Química</a></div>
                        <div class="menu-levels menu-level-2"><a
                          href="https://www.frro.utn.edu.ar/contenido.php?cont=94&subc=26"
                          style="color:#111110;font-size: 1rem;" rel="noopener">Ingeniería en Sistemas de
                          Información</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
