<div class="row">
  <div class="col-12">
    <h1 class="text-center">Cursos</h1>
  </div>
</div>
<div class="row container  m-0  row-cols-1 row-cols-md-4">
    <div class="col mb-4" *ngFor="let jcm of jcmlist">
        <div class="card h-100" style="display: table;  text-align: center;">
          <img src="{{jcm.img}}" class="card-img-top" width="150" height="150" alt="{{jcm.name}}">
          <div class="card-body h-50">
            <h5 class="card-text"><strong>Materia: </strong>{{jcm.name}}</h5>
          </div>
        </div>
    </div>
</div>



